/* Navbar */
.col-nav{
  background-color: #2F197F;
}

.navbar-brand {
  color: white;
}

/* Carousel */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  margin-bottom: 100px; 
  height: 100vh; 
  overflow: hidden; 
  font-family: 'Roboto', sans-serif;
  background:#fff;
  color: lightpink;
  line-height: 1.4;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding-bottom: 100px;
}

/* .logo {
  position: relative;
  padding-top: 1em;
} */

.slide {
  /* position: fixed;
  /* padding-top: 5em;
  padding-right: 10em;
  padding-left: 5em; */
  /* top: 5; */
  /* right: 0; */
  /* width: 100%;
  height:100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; */
}

/* .current {
  opacity: 1;
} */

.content {

  position: absolute;
  top: 70px;
  right: 0px;
  opacity: 1;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 20px;
}

h2{
  font-size: 140%;
  text-align: justify;
}

p {
  font-size: .80rem;
}

/* .content h1 {
  margin-bottom: 10px;
}*/

.current .content {
  opacity: 0;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

/* .current .content {
  transform: translateY(-300px);
  background-color: #333;
  color: #333;
}  */

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: grey;
  opacity: 50%;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: rgb(80, 5, 5);
  color: #333;
}

/* Login */
.container {
  padding-left: 50px;
}
.login-h1 {
  font-size: 1.5em;
  color: black;
  margin: 1em 0em 0em -9.5em;
}

.login-label-name {
  color: black;
  margin: 1em 0em 0em -7em;
  font-size: 1.25em;
}

.login-email {
  color: black;
  margin: .5em -0em 1em -9em;
  font-size: 1em;
}

.login-label-password {
  color: black;
  margin: 1em 0em 0em -7em;
  font-size: 1.25em;
}

.login-password {
  color: black;
  margin: .5em 1em 1em -9em;
  font-size: 1em;
}

/* Create Account */
.create-customer {
    font-size: 1.5em;
    color: black;
    margin: 1em 0em 0em 2em;
  }

  .input-name {
    border-width: 3px;
    margin: .5em 3em 0em 4em;
    height: 2em;
    width: 25em;
    font-size: .75em;
    border-radius: .5em;
  }

/* About */
.col-sm {
  width: 200px;
  height: 400px;
}

/* Contact */
.contact-h1 {
  font-size: 1.5em;
  color: black;
  margin: 1em 0em 0em 1.70em;
}

.label {
  color: black;
  margin: .5em 1em 1em 5em;
}

.input-box-email {
  border-width: 3px;
  height: 2.5em;
  width: 25em;
  font-size: 1em;
  border-radius: .5em;
  margin: .5em 1em 1em 5.5em;
}

.input-box-name {
  border-width: 3px;
  height: 2.5em;
  width: 25em;
  font-size: 1em;
  border-radius: .5em;
  margin: .5em 1em 1em 5.5em;
}

.input-box-msg {
  border-width: 3px;
  height: 2.5em;
  width: 50em;
  font-size: 1em;
  border-radius: .5em;
  /* text-overflow: clip;
  word-break: normal; */
}


/* footer */

.text-center {
  padding-top: .15em;
  padding-bottom: .25em
}
.col-footer {
  position: absolute; 
  bottom: 0; 
  width: 100%; 
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #FF7D00;
  font-size: .85rem;
  color: white;
  height: 4em ;
}


/* Privacy */

.privacy {
  width: 100%;
  color: black;
  padding-top: .25em;
  padding-bottom: .25em

}

.privacy h1{
font-size: 2.5em;
text-decoration-style: solid;
color: #333
}

.privacy h2{
  font-size: 1.5em;
  color: #333
}

.privacy h3{
  font-size: 1em;
  color: #333
}

.privacy p{
  font-size: .75em;
  color: #333
}

@media (max-width: 420px) {
  .body .content .footer .policy{
    bottom: -100px;
    left: 0;
    width: 25%;
  }

}
