/* Navbar */
.col-nav{
  background-color: #2F197F;
}

.navbar-brand {
  color: white;
}

/* Carousel */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: 'Roboto', sans-serif;
  background:#fff;
  color: lightpink;
  line-height: 1.4;
}

/* .slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
} */

/* .logo {
  position: relative;
  padding-top: 1em;
} */

.slide {
  /* position: fixed;
  /* padding-top: 5em;
  padding-right: 10em;
  padding-left: 5em; */
  /* top: 5; */
  /* right: 0; */
  /* width: 100%;
  height:100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out; */
}

/* .current {
  opacity: 1;
} */

.content {
  position: absolute;
  bottom: 70px;
  left: 0px;
  opacity: 1;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

/* .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.slide.current .content {
  transform: translateY(-300px);
  background-color: #333;
  color: #333;
} */

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: grey;
  opacity: 50%;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

/* footer */
.col-footer {
  position: bottom;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FF7D00;
  font-size: .95rem;
  color: white;
}

/* Privacy */

.privacy {
  width: 60%;
  margin-left: 5em;
}

.privacy h1{
font-size: 2.5em;
text-decoration-style: solid;
color: #333
}

.privacy h2{
  font-size: 2em;
  color: #333
}

.privacy h3{
  font-size: 1.5em;
  color: #333
}

.privacy p{
  font-size: 1em;
  color: #333
}

@media (max-width: 500px) {
  .body .content .footer .policy{
    bottom: -300px;
    left: 0;
    width: 50%;
  }

}
