.card {
    background-position: relative; 
    border: 6px solid white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 0 auto;
    margin-top: 10%;
    bottom: 75px;
  }
  
  .card .fa-spinner {
    font-size: 180px;
    position: absolute;
    left: 25%;
    top: 25%;
  }

  .card-text{
    color:black;
  }

  .card-title{
    color:black;
  }

  .card-image{
    color:black;
  }
  