@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background:#fff;
  color: #fff;
  line-height: 1.4;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: grey;
  opacity: 50%;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

.slide.current .content {
    transform: translateY(-300px);
    background-color: #333;
    color: #333;
  }
}



/* Backgorund Images */
 
.slide:first-child {
  background: img src="https://flyclipart.com/thumb2/automotive-mechanic-car-repair-retro-517846.png";
  background-color: #fff; 
  /* margin-top: -5%;  */
/* https://webcomicms.net/clipart-9221445-auto-repair-images   
<a href="https://webcomicms.net/clipart-9221445-auto-repair-images"><img class="img img-responsive" typeof="foaf:Image" src="https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-8277301.jpg" width="" height="" alt="Auto Repair Images 6 - 450 X 300" title="Auto Repair Images 6 - 450 X 300" /></a>
*/
}
.slide:nth-child(2) {
  background: url('https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-8277301.jpg') no-repeat
    center top/cover;
/* https://webcomicms.net/clipart-9221439-auto-repair-images
<a href="https://webcomicms.net/clipart-9221439-auto-repair-images"><img class="img img-responsive" typeof="foaf:Image" src="https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-6818317.jpg" width="" height="" alt="Auto Repair Images 1 - 1920 X 1000" title="Auto Repair Images 1 - 1920 X 1000" /></a>
*/
}
.slide:nth-child(3) {
  background: url('https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-6818317.jpg') no-repeat
    center center/cover;
/* https://webcomicms.net/clipart-9221439-auto-repair-images
<a href="https://webcomicms.net/clipart-9221439-auto-repair-images"><img class="img img-responsive" typeof="foaf:Image" src="https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-6818317.jpg" width="" height="" alt="Auto Repair Images 1 - 1920 X 1000" title="Auto Repair Images 1 - 1920 X 1000" /></a>
*/
}
.slide:nth-child(4) {
  background: url('https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-8846964.jpg') no-repeat
    center top/cover;
/* https://webcomicms.net/clipart-9221464-auto-repair-images
 <a href="https://webcomicms.net/clipart-9221464-auto-repair-images"><img class="img img-responsive" typeof="foaf:Image" src="https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-8846964.jpg" width="" height="" alt="Auto Repair Images 12 - 480 X 320" title="Auto Repair Images 12 - 480 X 320" /></a>
 */
}
.slide:nth-child(5) {
  background: url('https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-9207452.jpg') no-repeat
    center top/cover;
/* https://webcomicms.net/clipart-9221454-auto-repair-images
<a href="https://webcomicms.net/clipart-9221454-auto-repair-images"><img class="img img-responsive" typeof="foaf:Image" src="https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-9207452.jpg" width="" height="" alt="Auto Repair Images 8 - 849 X 537" title="Auto Repair Images 8 - 849 X 537" /></a>
*/
}
.slide:nth-child(6) {
  background: url('https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-8034135.jpg') no-repeat
    center top/cover;
/* https://webcomicms.net/clipart-9221444-auto-repair-images
<a href="https://webcomicms.net/clipart-9221444-auto-repair-images"><img class="img img-responsive" typeof="foaf:Image" src="https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-8034135.jpg" width="" height="" alt="Auto Repair Images 5 - 849 X 537" title="Auto Repair Images 5 - 849 X 537" /></a>
*/
} 
.slide:nth-child(7)  {
  background: url('https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-6256991.png') no-repeat
    center top/cover;
/* https://webcomicms.net/clipart-9221461-auto-repair-images
<a href="https://webcomicms.net/clipart-9221461-auto-repair-images"><img class="img img-responsive" typeof="foaf:Image" src="https://webcomicms.net/sites/default/files/clipart/144693/auto-repair-images-144693-6256991.png" width="" height="" alt="Auto Repair Images 11 - 516 X 300" title="Auto Repair Images 11 - 516 X 300" /></a>
*/
} 