.table-head {
    width: 15%;
    background-color: grey;
}

.table-body {
    text-align: center;
    border-style: solid, black;
    background-color:  lightgrey;
}
.btn {
    border: solid 5px black;
    
}