.contactContainer{
  width: 400px; 
  height: 500px; 
  margin: 100px auto;
  background: linear-gradient( #2F197F 10%, #FF7D00 100%);
  border-radius: 25px;
}

#contactForm {
font-size: 15px; 

}
.contact-label{
justify-content: left; 
text-align: left; 
color: white; 
max-width: 350px; 


}
.contact-h1 {
  color: white; 
  padding: 5px; 
}
.input-box-name  {
  position: absolute; 
  float: left;
  left: 36%;
  max-width: 350px; 
 margin-top: 25px; 
  
}
.input-box-email {
  position:absolute; 
  float: left;
  left: 36%;
  margin-top: 20px; 
  max-width: 350px; 

  
}
.input-box-msg{
  max-width: 350px; 

}
.container button{
border-radius: 25px;
justify-content: center; 
float: right; 
width: 150px;
height: 40px;
font-size: 1.3rem;
color: white;
font-weight: 700;
background: #2F197F; 
border: 0px;
cursor: pointer;
}
